$mobile: 480px;
$tablet: 768px;
$desktop: 1024px;

.formgroup {
  &__label {
    font-size: 3rem;
    font-weight: 400;
    margin-bottom: 1rem;
  }

  &__message {
    font-size: 1.6rem;
  }

  &__input {
    width: 500px;
    height: 4rem;
    border-radius: 5px;
    font-size: 2.2rem;
  }

  &__input::-webkit-input-placeholder {
    font-size: 2.2rem;
  }

  &__message {
    font-size: 2.2rem;
  }
}

@media screen and (max-width: $mobile) {
  .formgroup {
    &__input {
      width: 250px;
      height: 3rem;
      border-radius: 5px;
      font-size: 1.3rem;
    }

    &__input::-webkit-input-placeholder {
      font-size: 1.3rem;
    }

    &__label {
      font-size: 1.8rem;
      margin: 0.5rem 0;
    }

    &__message {
      font-size: 1.3rem;
    }
  }
}

@media screen and (max-width: $tablet) and (min-width: $mobile) {
  .formgroup {
    &__input {
      width: 350px;
      height: 3.2rem;
      border-radius: 5px;
      font-size: 1.8rem;
    }

    &__input::-webkit-input-placeholder {
      font-size: 1.8rem;
    }

    &__label {
      font-size: 2.5rem;
      margin-bottom: 0.5rem;
    }

    &__message {
      font-size: 1.8rem;
    }
  }
}
