$mobile: 480px;
$tablet: 768px;
$desktop: 1024px;

.sidebar {
  margin-top: 2rem;
  color: #333;
  text-align: center;

  &__item {
    border: 1px solid #aaa;
    border-width: 1px 0 1px 0;
  }

  &__title {
    display: block;
    font-weight: 400;
    font-family: "Varela Round", sans-serif;
    margin: 0.5rem 0 0.5rem 0;
    font-size: 3rem;
  }

  &__image {
    max-width: 80%;
  }

  &__list {
    list-style: none;
    padding: 0;
    li {
      a {
        font-size: 2.2rem;
        color: #333 !important;
        transition: all 0.25s ease-in-out 0s;
        text-decoration: none;
      }
    }
  }

  &__text {
    font-size: 2.2rem;
    width: 430px;
  }

  &__icon {
    color: #333;
    i {
      width: 50px;
      font-size: 3rem;
    }
  }

  &__icon:last-child {
    margin-right: 0;
  }
}

@media screen and (max-width: $mobile) {
  .sidebar {
    &__title {
      font-size: 1.6rem;
    }

    &__text {
      font-size: 1.4rem;
      width: 120px;
    }

    &__list {
      li {
        a {
          font-size: 1.4rem;
        }
      }
    }

    &__icon {
      i {
        font-size: 1.6rem;
        width: 25px;
      }
    }
  }
}

@media screen and (max-width: $tablet) and (min-width: $mobile) {
  .sidebar {
    &__title {
      font-size: 1.8rem;
    }

    &__text {
      font-size: 1.6rem;
      width: 270px;
    }

    &__list {
      li {
        a {
          font-size: 1.6rem;
        }
      }
    }

    &__icon {
      i {
        width: 30px;
        font-size: 2.4rem;
      }
    }
  }
}
