$mobile: 480px;
$tablet: 768px;
$desktop: 1024px;

.post {
  width: 35%;
  margin: 4rem;
  display: flex;
  flex-direction: column;
  text-align: center;
  color: #333;

  &__body {
    margin: 1rem 0 1rem 0;
  }

  &__image {
    height: auto;
  }

  &__content {
    text-align: left;
    font-size: 2.2rem;
  }

  &__title {
    font-weight: bold;
    font-size: 2.2rem;
  }

  &__date {
    font-size: 2rem;
    font-style: italic;
    font-weight: 300;
  }

  &__category {
    font-weight: 500;
    a {
      text-decoration: none;
      margin-right: 1rem;
      font-size: 2.2rem;
    }
  }
}

@media screen and (max-width: $mobile) {
  .post {
    width: 90%;
    height: fit-content;

    &__image {
      height: fit-content;
    }

    &__content {
      font-size: 1.4rem;
    }

    &__title {
      font-weight: 500;
      font-size: 1.4rem;
    }

    &__date {
      font-size: 1.3rem;
      font-style: italic;
      font-weight: 300;
    }

    &__category {
      font-weight: 500;
      a {
        font-size: 1.4rem;
      }
    }
  }
}

@media screen and (max-width: $tablet) and (min-width: $mobile) {
  .post {
    width: 65%;
  
    &__image {
      height: fit-content;
    }

    &__content {
      font-size: 1.6rem;
    }

    &__title {
      font-weight: 500;
      font-size: 1.6rem;
    }

    &__date {
      font-size: 1.5rem;
      font-style: italic;
      font-weight: 300;
    }

    &__category {
      font-weight: 500;
      a {
        font-size: 1.6rem;
      }
    }
  }
}
