$mobile: 480px;
$tablet: 768px;
$desktop: 1024px;

.register-form {
  &__button-control,
  &__input-control {
    display: flex;
    justify-content: center;
  }

  &__button {
    margin-top: 3rem;
    font-size: 2.2rem;
    min-width: 200px;
    border-radius: 5px;
  }
}

@media screen and (max-width: $mobile) {
  .register-form {
    &__button {
      font-size: 1.4rem;
      min-width: 100px;
      margin-top: 2rem;
    }
  }
}

@media screen and (max-width: $tablet) and (min-width: $mobile) {
  .register-form {
    &__button {
      font-size: 1.8rem;
      min-width: 160px;
      margin-top: 3rem;
    }
  }
}
