$mobile: 480px;
$tablet: 768px;
$desktop: 1024px;

.footer {
  padding: 2rem;
  margin-bottom: 1rem;
  text-align: center;

  &__tags {
    list-style: none;
    color: #333;

    li {
      display: inline;
      margin-right: 1rem;

      a {
        text-decoration: none;
        font-size: 2.2rem;
      }
    }

    li:last-child {
      margin-right: 0;
    }
  }

  p {
    font-size: 2.2rem;
  }
}

@media screen and (max-width: $mobile) {
  .footer {
    &__tags {
      li {
        margin-right: 1rem;
        a {
          font-size: 1.4rem;
        }
      }
    }

    p {
      font-size: 1.4rem;
    }
  }
}

@media screen and (max-width: $tablet) and (min-width: $mobile) {
  .footer {
    &__tags {
      li {
        margin-right: 1.5rem;
        a {
          font-size: 1.6rem;
        }
      }
    }

    p {
      font-size: 1.6rem;
    }
  }
}
