$mobile: 480px;
$tablet: 768px;

.header {
  padding: 1rem;

  &__link {
    color: #333;
    transition: all 0.25s ease-in-out 0s;
  }

  &__icon-list {
    display: flex;
    align-items: center;

  }

  &__icon {
    margin-right: 3rem;
    
    i {
      font-size: 3rem;
    }
  }

  &__title {
    text-decoration: none;
    margin-right: 3rem;
    font-size: 3rem;
  }

  &__title:last-child {
    margin-right: 0;
  }
}

@media screen and (max-width: $mobile) {
  .header {
    &__icon-list {
      display: none;
    }

    &__title {
      margin-right: 1rem;
      font-size: 1.6rem;
    }
  }
}

@media screen and (max-width: $tablet) and (min-width: $mobile) {
  .header {
    margin-top: 1rem;
    
    &__icon {
      margin-right: 1.5rem;

      i {
        font-size: 2.4rem;
      }
    }

    &__title {
      text-decoration: none;
      font-size: 2.4rem;
      margin-right: 2rem;
    }

    &__title:last-child {
      margin-right: 0;
    }
  }
}
