$mobile: 480px;
$tablet: 768px;
$desktop: 1024px;

.registerform {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 81vh;
  background: linear-gradient(
      rgba(255, 255, 255, 0.5),
      rgba(255, 255, 255, 0.5)
    ),
    url("https://images.pexels.com/photos/317355/pexels-photo-317355.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
  background-size: cover;
  margin-top: 0.5rem;

  width: 100%;

  &__title {
    text-align: center;
    font-size: 6.4rem;
  }
}

@media screen and (max-width: $mobile) {
  .registerform {
    height: 78vh;
    margin-top: 0.4rem;
    &__title {
      font-size: 4rem;
    }
  }
}

@media screen and (max-width: $tablet) and (min-width: $mobile) {
  .registerform {
    height: 80vh;
    margin-top: 1rem;
    &__title {
      font-size: 5.2rem;
    }
  }
}
